*{
  margin: 0;
  padding: 0;
}

body{
  /*width: 2000px;*/
  font-family: 'Lato';
  background-color: #B1ADDB;
  /*background-color: red;*/
}

header{
  /*display: none;*/
  position: absolute;
  height: 100px;
  width: 100%;
  /*border-bottom: 3px solid #E3E3E4*/
}
#logo{
  border: 2px solid white;
  padding: 6px;
  font-family: 'Poiret One';
  font-weight: bold;
  font-size: 25px;
  /*color:#4C3FEC;*/
  color: white;
  margin-left: 50px;
  margin-top: 30px;
  float: left;
  /*background-color: red;*/
  position: absolute;
}

nav{
  /*display: none;*/
  height: 100px;
  width: 600px;
  margin-left: 80px;
  /*background-color: blue;*/
  float: right;
}


#bloc{
  width: 100%;
  /*height: 100%;*/
  /*background-color: red;*/
}

ul{
  list-style: none;
}

li{
  /*display: none;*/
  /*display: inline-block;*/
  margin-left: 500px;
  margin-top: 40px;
  color: white;
}

article{
  background-image: url("ordi.jpeg");
  /*background-repeat: no-repeat;*/
  height: 400px;
  width:100%;
  background-size: 100%;
  background-position: 50%;
  /*margin-top: 20px;*/
  /*float: right;*/
  /*background-size: 50%;*/
}
/*
p{
  color: white;
  font-size: 3em;
  padding-left: 50px;
  padding-top: 65px;
  font-weight: bold;
}*/

h1{
  font-size: 1.9em;
  /*float: right;*/
  color: white;
  margin-right: 50px;
  margin-top: 188px;
  margin-left: 50px;
}

.carre{
  margin-top: 1px;
  display: inline-block;
  height: 26vw;
  width: 32vw;
}
.ours{
  margin-top: 20px;
  margin-left: 13px;
  display: inline-block;
  height: 26vw;
  width: 32vw;
}

img{
  height: 26vw;
  width: 32vw;
  display: inline-block;;

  /*margin-left: 10px;*/
  /*display: inline-block;*/
}
